<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.toxiguard">
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToxiGuard.NoActionBar"
        tools:targetApi="34">

        <!-- Splash Screen -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ToxiGuard.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ask user name -->
        <activity
            android:name=".ui.UserSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.ToxiGuard.NoActionBar" />

        <!-- Dashboard -->
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.ToxiGuard.NoActionBar" />

        <!-- Other Activities -->
        <activity android:name=".ui.AnalyzerActivity" android:exported="false" />
        <activity android:name=".ui.AnalyticsActivity" android:exported="false" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.HistoryActivity" android:exported="false" />
        <activity android:name=".ui.HelpActivity" android:exported="false" />
        <activity android:name=".ui.LiveMonitorActivity" android:exported="false" />
        <activity android:name=".ui.OverlayPermissionActivity" android:exported="false" />

        <!-- Accessibility Service -->
        <service
            android:name=".service.AppAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <receiver
            android:name=".service.EmotionalSafetyReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".service.AppAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <activity
            android:name=".ui.LeaderboardActivity"
            android:exported="false" />


        <activity
            android:name=".ui.AppFilterSettingsActivity"
            android:exported="false" />


    </application>
</manifest>
